gcloud==0.18.3
google==2.0.3
google-api-core==1.14.3
google-api-python-client==1.7.11
google-apitools==0.5.28
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-bigquery==1.17.1
google-cloud-bigtable==1.0.0
google-cloud-core==1.0.3
google-cloud-datastore==1.7.4
google-cloud-firestore==1.5.0
google-cloud-pubsub==1.0.2
google-cloud-storage==1.21.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpc-google-iam-v1==0.12.3
grpcio==1.24.3